@model StoreManagement.Web.Areas.BasicData.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "جزئیات گروه";
}

<h2>جزئیات</h2>

<div>
    
    <hr />
    <dl class="form-horizontal">
        <dt>
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        </dt>

        <dd class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <br>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" })
</div>
<p>
    @Html.ActionLink("بازگشت به لیست گروه", "List")
</p>
