@{
    Layout = null;
}


<div id="dialog-confirm" style="display:none;" title="وایسا کجا میری! ">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span> تغییرات ذخیره نشده از دست خواهد رفت آیا می خواهید خارج شوید؟ </p>
</div>