@{
    ViewBag.Title = "Home Page";
}

<h2>store management home page</h2>

<!-- no login -->


<button class="my_btn" onclick="go_to_search(); event.preventDefault() ;"> Search Products </button>



<script type="text/javascript" src="../jquery-1.11.1.js"></script>
<script type="text/javascript">
    function go_to_search() {
          document.location = '/search/index';
    }
</script>