@{
    Layout = null;
}



<div class="input-group" id="itemsId">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="نام کالا">
        <input type="text" class="form-control" placeholder="تعداد">
        <input type="text" class="form-control" placeholder="قیمت واحد">
    </div>
    <hr />

</div>