@{
    Layout = null;
}



<div class="input-group" id="itemsId">


    <div class="input-group" style="width: 300px">
        <span class="input-group-addon"style="width: 88px">  نام کالا  </span>
        <input type="text" class="form-control" placeholder="نام کالا">
    </div>
    <div class="input-group" style="width: 300px">
        <span class="input-group-addon" style="width: 88px">  تعداد  </span>
        <input type="text" class="form-control" placeholder="تعداد">
    </div>
    <div class="input-group" style="width: 300px">
        <span class="input-group-addon" style="width: 88px">  قیمت واحد  </span>
        <input type="text" class="form-control" placeholder="قیمت واحد">
    </div>

    <hr />

</div>